/desktop-app-java/server-application/nbproject/private/
/desktop-app-java/client-application/nbproject/private/
desktop-app-java/client-application/iTextTable.pdf
desktop-app-java/client-application/file.pdf
desktop-app-java/client-application/ListClientsJava.pdf
